
<header style="background-color: #262626">
    <div class="container">
        <input type="checkbox" name="" id="check">

        <div class="logo-container">
            <h3 class="logo">CARD<span>Assistant</span></h3>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a routerLink="/about">About</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <a routerLink="/auth/login" class="btn transparent" style="#fff">Log in</a>
                <a routerLink="/auth/registro" class="btn solid">Sign up</a>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>