<form class="form_contact" autocomplete="off" [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
    <div style="text-align: center;">
        <img src="../../../../assets/img/logo.png" alt="logo" width="100" height="100">
        <h2 class="title">Registro</h2>
    </div>

    <div class="input-field">
        <label >Nombre</label>
        <input formControlName="nombre" type="text"  placeholder="Nombre">
    </div>
    <div class="input-field">
        <label >Apellido Paterno</label>
        <input formControlName="apPat" type="text"  placeholder="Apellido Paterno">
    </div>
    <div class="input-field">
        <label >Email</label>
        <input formControlName="email" type="email"  placeholder="Email">
    </div>
    <div>
        <label >Contraseña</label>
        <input formControlName="password" type="password" placeholder="Contraseña">
    </div>
    <div>
        <label > Confirmar Contraseña</label>
        <input formControlName="passwordC" type="password" placeholder="Contraseña">
    </div>

    <div style="text-align: center;">
        <button class="btn" type="submit">Registrarse</button>
    </div>
</form>