<form class="form_contact" autocomplete="off">
    <div style="text-align: center;">
        <img src="../../../../assets/img/logo.png" alt="logo" width="100" height="100">
        <h2 class="title">Registro</h2>
    </div>

    <div class="input-field">
        <label >Nombre</label>
        <input type="text"  placeholder="Nombre">
    </div>
    <div class="input-field">
        <label >Apellido Paterno</label>
        <input type="text"  placeholder="Apellido Paterno">
    </div>
    <div class="input-field">
        <label >Email</label>
        <input type="email"  placeholder="Email">
    </div>
    <div>
        <label >Contraseña</label>
        <input type="password" placeholder="Contraseña">
    </div>

    <div style="text-align: center;">
        <button class="btn">Registrarse</button>
    </div>
</form>