<form class="form_contact" autocomplete="off">
    <div style="text-align: center;">
        <img src="../../../../assets/img/logo.png" alt="logo" width="100" height="100">
        <h2 class="title">Log In</h2>
    </div>

    <div class="input-field">
        <label >Usuario</label>
        <input type="text"  placeholder="Usuario">
    </div>
    <div class="input-field">
        <label >Contraseña</label>
        <input type="password"  placeholder="Contraseña">
    </div>
    <div style="text-align: center;">
        <button class="btn">Acceder</button>
    </div>
</form>

