<section id="about">
    <div class=" vertical-align text-center">
        <h3 class="text-uppercase"> Un poco <strong>acerca</strong> de nosotros</h3>
        <hr style="border-color:#d3d3d3">
        <h4>
            <p>Cyber security seems to be a hot issue these days with all the recent news about online hackings and
                whatnots. However, todays functioning society revolves around the online infrastructure that is the
                world wide web.</p>
        </h4>
    </div>
</section>


<section id="services">
    <div class="section-heading text-center">
        <h3 class="text-uppercase"> Nuestros <strong>Servicios</strong></h3>
        <hr>
    </div>
    <div class="p-grid p-jc-center p-jc-evenly p-col-12 p-md-12 p-lg-12">
        <div class="service-item p-col-12 p-md-4 p-lg-3">

            <header>
                <i class="fa fa-desktop"></i>
                <div class="service-title">
                    <h3> Gestión de gasto</h3>
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
            </header>

            <p>Cyber security seems to be a hot issue these days with all the recent news about online hackings and
                whatnots.</p>
        </div>
        <div class="service-item p-col-12 p-md-4 p-lg-3">

            <header>
                <i class="fa fa-desktop"></i>
                <div class="service-title">
                    <h3> Gestión de gasto</h3>
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
            </header>

            <p>Cyber security seems to be a hot issue these days with all the recent news about online hackings and
                whatnots.</p>
        </div>
        <div class="service-item p-col-12 p-md-4 p-lg-3">

            <header>
                <i class="fa fa-desktop"></i>
                <div class="service-title">
                    <h3> Gestión de gasto</h3>
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
            </header>

            <p>Cyber security seems to be a hot issue these days with all the recent news about online hackings and
                whatnots.</p>
        </div>
    </div>





</section>