<div class="p-grid" style="width: 98%;">
    <div class="contenedor p-col-12 p-md-4 p-lg-4">
        <h1>{{ usuario }}</h1>
        <h2>Es bueno tenerte de vuelta!, puedes ver tu información haciendo click en el menu de arriba</h2>
    </div>
    <div class=" p-col-6 p-md-3 p-lg-2 imgDis">
        <img src="../../../../assets/img/img1.jpg " alt="logo" width="100%" height="150%" class="p-shadow-24"
            style="border-radius: 3px;">
    </div>
    <div class="p-col-3 aux">
    </div>
    <div class=" p-col-6 p-md-3 p-lg-2">

        <img src="../../../../assets/img/img2.jpg" alt="logo" width="100%" height="150%" class="p-shadow-24"
            style="border-radius: 3px;">
    </div>
    <div class=" p-col-4 p-md-3 p-lg-2 imgDis imgDismd">

        <img src="../../../../assets/img/img3.jpg" alt="logo" width="100%" height="150%" class="p-shadow-24"
            style="border-radius: 3px;">

    </div>


</div>